<label class="form-control w-full relative mb-4" [formGroup]="fGroup">
  <div [class]="inputLabel ? 'label' : 'hidden'">
    <span class="label-text">{{ inputLabel | titlecase }}</span>
  </div>
  @switch (inputVariants) { @case ('icons') {
  <label
    [class]="
      'rounded-xl input input-bordered flex items-center gap-2 ' +
      inputSizeStyle
    "
    [ngClass]="errText !== '' ? 'border-redDanger' : ''"
  >
    <lucide-icon
      [name]="placeholderIcon"
      color="grey"
      [size]="inputSize === 'small' ? '16' : '20'"
    ></lucide-icon>

    <input
      [type]="inputType"
      [name]="inputName"
      [id]="inputId"
      [formControlName]="fcName"
      class="grow"
      [placeholder]="placeholder"
    />
  </label>
  } @case ("iconsRight") {
  <label
    [class]="
      'rounded-xl input input-bordered flex items-center gap-2 ' +
      inputSizeStyle
    "
    [ngClass]="errText !== '' ? 'border-redDanger' : ''"
    [ngClass]="inputType === 'date' ? 'w-[206px]' : ''"
  >
    <input
      [type]="inputType"
      [name]="inputName"
      [id]="inputId"
      [formControlName]="fcName"
      class="grow"
      [placeholder]="placeholder"
      (mouseenter)="onMouseEnter.emit()"
    />
    <lucide-icon
      [name]="placeholderIcon"
      color="grey"
      [size]="inputSize === 'small' ? '16' : '20'"
    ></lucide-icon>
  </label>
  } @case ("noIcons") {

  <div class="rounded-xl flex flex-col">
    @if (inputType === "radio" || inputType === "checkbox") { @for (choice of
    choices; track $index) {

    <div class="flex gap-1 first:mt-0 mt-2">
      <input
        [type]="inputType"
        [name]="inputName"
        [id]="choice"
        [class]="inputStyle"
        [ngClass]="customStyle"
        [formControlName]="fcName"
      />
      <label [for]="inputId">{{ choice | titlecase }}</label>
    </div>
    }} @else {
    <input
      [type]="inputType"
      [name]="inputName"
      [id]="inputId"
      [placeholder]="placeholder === undefined ? '' : placeholder"
      [class]="inputStyle"
      [ngClass]="customStyle ? customStyle : ''"
      [formControlName]="fcName"
    />
    }
  </div>
  } } @if (errText !== '' || !errText) {
  <div class="label absolute -bottom-7">
    <span class="label-text-alt text-red-500">{{ errText }}</span>
  </div>
  }
</label>
