<div class="w-fit" (click)="onClick()" (clickOutside)="isOpen = false">
  <div
    role="button"
    class="dropdown border border-[#DBDCDE] rounded-xl text-[#A3A3A3] px-4 w-[210px] text-[14px] flex gap-2 justify-between items-center"
    [ngClass]="size === 'small' ? 'h-8' : 'h-11'"
  >
    <p [ngClass]="text !== placeholder && text !== '' ? 'text-black' : ''">
      @if (text !== '') {
      {{ text | toTitleCase }}
      } @else {
      {{ placeholder | toTitleCase }}
      }
    </p>
    @if (!isOpen) {
    <lucide-icon name="chevron-down" size="18"></lucide-icon>
    } @else {
    <lucide-icon name="chevron-up" size="18"></lucide-icon>
    }
  </div>
  <ul
    class="dropdown-content z-50 menu bg-white rounded-box w-[200px] border border-[#DBDCDE] text-[#A3A3A3] mt-[2px]"
    [ngClass]="!isOpen ? 'hidden' : 'absolute'"
  >
    @for (item of dropdownItems; track $index) {

    <li (click)="text = item">
      <p [ngClass]="text === item ? 'text-green500Primary font-semibold' : ''">
        {{ item | toTitleCase }}
      </p>
    </li>
    }
  </ul>
</div>
