<div class="sticky top-0 bg-white px-[38px] pt-[38px] pb-[10px] z-50">
  <p class="text-green500Primary font-semibold text-[18px]">Status Laporan</p>
</div>
<div class="mx-[36px] mb-[36px]">
  <ul class="steps steps-vertical">
    <li data-content="●" class="step step-custom py-[25px]">
      <div class="text-start ml-[36px]">
        <p class="text-green500Primary text-[16px] font-medium">
          Transaksi Berhasil
        </p>
        <p class="text-[14px] text-[#666666]">Kendala : Gagal Bayar</p>
        <p class="text-[14px] text-[#666666]">18 April 2024 17:53 WIB</p>
      </div>
    </li>
    <li data-content="●" class="step step-custom">
      <div class="text-start ml-[36px]">
        <p class="text-green500Primary text-[16px] font-medium">
          Laporan Diajukan
        </p>
        <p class="text-[14px] text-[#666666]">
          Diterima oleh : Himawan Zidan Prayoga
        </p>
        <p class="text-[14px] text-[#666666]">18 April 2024 20:53 WIB</p>
      </div>
    </li>
    <li data-content="●" class="step step-custom">
      <div class="text-start ml-[36px]">
        <p class="text-green500Primary text-[16px] font-medium">
          Laporan Dalam Proses
        </p>
        <p class="text-[14px] text-[#666666]">
          Diproses oleh : Himawan Zidan Prayoga
        </p>
        <p class="text-[14px] text-[#666666]">19 April 2024 10:53 WIB</p>
      </div>
    </li>
    <li data-content="●" class="step step-custom-disable">
      <div class="text-start ml-[36px]">
        <p class="text-[#C2C2C2] text-[16px] font-medium">
          Laporan Selesai Proses
        </p>
        <p class="text-[14px] text-[#C2C2C2]">Diselesaikan oleh : -</p>
        <p class="text-[14px] text-[#C2C2C2]">-</p>
      </div>
    </li>
    <li data-content="●" class="step step-custom-disable">
      <div class="text-start ml-[36px]">
        <p class="text-[#C2C2C2] text-[16px] font-medium">Laporan Ditutup</p>
        <p class="text-[14px] text-[#C2C2C2]">Ditutup oleh : -</p>
        <p class="text-[14px] text-[#C2C2C2]">-</p>
      </div>
    </li>
  </ul>
</div>
