<div class="flex bg-[#0092BB] py-[78px] px-[50px] gap-[120px]">
  <div class="w-[40%]">
    <img src="../../assets/bni.png" class="w-[180px] mb-[27px]" />
    <p class="w-[80%] text-[#99D3E4]">
      BNI berizin dan diawasi oleh Otoritas Jasa Keuangan dan Bank Indonesia.
      BNI merupakan peserta penjaminan Lembaga Penjamin Simpanan.
    </p>
  </div>
  <div class="w-[20%]">
    <div>
      <h5 class="text-greenPrimary font-semibold text-[17px] mb-[17px]">
        Kantor Pusat
      </h5>
      <p class="text-[#99D3E4] mb-[23px]">
        Gedung Grha BNI Jl. Jenderal Sudirman Kav. 1 Jakarta Pusat 10220
        Indonesia.
      </p>
    </div>
    <div>
      <h5 class="text-greenPrimary font-semibold text-[17px] mb-[17px]">
        Telepon
      </h5>
      <p class="text-[#99D3E4] mb-[12px]">+62-21-2511946</p>
      <div>
        <img src="../../assets/mediaSosial.png" />
      </div>
    </div>
  </div>
  <div class="w-[20%]">
    <h5 class="text-greenPrimary font-semibold text-[17px] mb-[17px]">
      Informasi Perseroan
    </h5>
    <ul class="text-[#99D3E4]">
      <li class="mb-[17px]">Tentang BNI</li>
      <li class="mb-[17px]">Tata Kelola</li>
      <li class="mb-[17px]">Hubungan Investor</li>
      <li>Berkarir di BNI</li>
    </ul>
  </div>
  <div class="w-[20%]">
    <h5 class="text-greenPrimary font-semibold text-[17px] mb-[17px]">
      BNI Bantuan & Dukungan
    </h5>
    <ul class="text-[#99D3E4]">
      <li class="mb-[17px]">Pencari Lokasi BNI</li>
      <li class="mb-[17px]">Kontak BNI</li>
      <li>Jaringan Global BNI</li>
    </ul>
  </div>
</div>
<div class="bg-[#007DA0] flex justify-center py-[10px]">
  <p class="text-[#99D3E4]">
    Copyright © 2024 BNI T-Care • All rights reserved
  </p>
</div>
