<div class="flex w-full justify-between">
  <div class="flex">
    <div class="flex justify-center items-center mr-[16px]">
      <lucide-icon name="chevron-left" color="#006885"></lucide-icon>
    </div>
    <app-page-header text="Detail Ticket Report" />
  </div>
  <div class="flex items-center gap-2 justify-end">
    <p class="text-green500Primary font-semibold">Admin John Doe</p>
    <lucide-icon
      name="circle-user-round"
      size="32"
      color="#006885"
    ></lucide-icon>
  </div>
</div>

<div class="flex gap-[16px] mt-[42px]">
  <app-card customClass="w-[412px] pt-[30px] pb-[15px]">
    <div class="flex-row justify-center items-center">
      <div class="flex justify-center items-center">
        <img
          src="../../../../assets/profilePicture.png"
          alt="Profile Picture"
          width="153"
        />
      </div>
      <div>
        @for (item of data; track $index) {
        <app-detail-info [data]="item"></app-detail-info>
        }
      </div>
    </div>
  </app-card>
  <div>
    <app-card customClass="w-[661px] h-[512px] mb-[16px] overflow-y-auto">
      <div class="sticky top-0 bg-white px-[36px] pt-[35px] pb-[10px] z-50">
        <p class="text-green500Primary font-semibold text-[18px]">
          Status Laporan
        </p>
      </div>

      <div class="mx-[36px] mb-[36px]">
        <ul class="steps steps-vertical">
          <li data-content="●" class="step step-primary py-[25px]">
            <div class="text-start ml-[36px]">
              <p class="text-green500Primary text-[16px] font-medium">
                Transaksi Berhasil
              </p>
              <p class="text-[14px] text-[#666666]">Kendala : Gagal Bayar</p>
              <p class="text-[14px] text-[#666666]">18 April 2024 17:53 WIB</p>
            </div>
          </li>
          <li data-content="●" class="step step-primary">
            <div class="text-start ml-[36px]">
              <p class="text-green500Primary text-[16px] font-medium">
                Laporan Diajukan
              </p>
              <p class="text-[14px] text-[#666666]">
                Diterima oleh : Himawan Zidan Prayoga
              </p>
              <p class="text-[14px] text-[#666666]">18 April 2024 20:53 WIB</p>
            </div>
          </li>
          <li data-content="●" class="step">
            <div class="text-start ml-[36px]">
              <p class="text-green500Primary text-[16px] font-medium">
                Laporan Dalam Proses
              </p>
              <p class="text-[14px] text-[#666666]">
                Diproses oleh : Himawan Zidan Prayoga
              </p>
              <p class="text-[14px] text-[#666666]">19 April 2024 10:53 WIB</p>
            </div>
          </li>
          <li data-content="●" class="step">
            <div class="text-start ml-[36px]">
              <p class="text-green500Primary text-[16px] font-medium">
                Laporan Selesai Proses
              </p>
              <p class="text-[14px] text-[#666666]">
                Diselesaikan oleh : Himawan Zidan Prayoga
              </p>
              <p class="text-[14px] text-[#666666]">19 April 2024 13:53 WIB</p>
            </div>
          </li>
          <li data-content="●" class="step">
            <div class="text-start ml-[36px]">
              <p class="text-green500Primary text-[16px] font-medium">
                Laporan Ditutup
              </p>
              <p class="text-[14px] text-[#666666]">
                Ditutup oleh : Himawan Zidan Prayoga
              </p>
              <p class="text-[14px] text-[#666666]">19 April 2024 14:00 WIB</p>
            </div>
          </li>
        </ul>
      </div>
    </app-card>
    <app-card customClass="w-[661px] h-[322px] p-[35px]">
      <div>
        <p class="text-green500Primary font-semibold text-[18px] mb-[10px]">
          Feedback Pelapor
        </p>
      </div>
      <div class="mb-[25px] mt-[25px]">
        <app-ratings [rating]="5"></app-ratings>
      </div>
      <div
        class="border border-slate-300 rounded-[12px] p-[15px] w-[586px] h-[160px] flex items-start overflow-auto"
      >
        <p class="text-[#858585]">
          Proses penanganan laporan cepat dan sangat mudah. Admin menangani
          permasalahan transaksi dengan benar dan cepat. Sangat responsif.
          Sangat direkomendasikan untuk melakukan pelaporan transaksi yang gagal
          melalui fitur ini. Salut untuk aplikasi dan admin BNI.
        </p>
      </div>
    </app-card>
  </div>
</div>
