<div class="flex py-[40px]">
  <div class="w-[60%] pl-[50px] flex flex-col justify-center">
    <h1 class="text-white font-bold text-[56px]">BNI T-Care</h1>
    <p
      class="text-white font-medium text-[18px] w-[80%] tracking-wider mt-[15px]"
    >
      BNI T-Care memiliki beragam fasilitas yang memudahkan monitoring laporan
      transaksi anda seperti Transfer, e-Wallet, Pembayaran, Pembelian dan
      lainnya. Selain itu, BNI T-Care menyediakan dashboard secara realtime
      untuk memastikan semua laporan nasabah terselesaikan.
    </p>
  </div>
  <div>
    <img src="../../assets/animasi-1.png" />
  </div>
</div>
<div class="h-[698px] px-[50px] flex justify-center items-center">
  <div>
    <img src="../../assets/animasi-2.png" />
  </div>
  <div class="w-[50%]">
    <h1 class="text-green500Primary font-bold text-[56px] w-[70%]">
      Lebih Cepat Pakai <span class="text-[#F15A22]">BNI T-Care</span>
    </h1>
    <p class="w-[90%] font-medium text-[18px] tracking-wider">
      Nikmati Kemudahan Buka Tabungan dan Ganti Kartu ATM Melalui BNI DIGICS.
      Kemudahan Tarik Tunai tanpa Kartu ATM di berbagai Channel (ATM BNI,
      Agen46, ATM Bank Lain) dan Merchant yang bekerja sama dengan BNI
      (Indomaret, Alfamart, Alfamidi, AlfaExpress, Lawson, dan lain-lain).
    </p>
  </div>
</div>
<div class="h-[1000px]">
  <div
    class="bg-landingPage2 h-[650px] object-cover bg-no-repeat bg-cover pt-[160px] flex flex-col items-center"
  >
    <h2 class="text-white font-bold text-[56px]">Contact BNI</h2>
    <p
      class="text-white font-medium text-[18px] w-[30%] tracking-wider mt-[15px] text-center pb-[68px]"
    >
      BNI terus berupaya untuk memberikan layanan terbaik yang cepat, mudah dan
      dapat diakses di manapun oleh nasabah BNI.
    </p>
    <div class="flex gap-[58px]">
      <app-card class="w-[620px] h-[545px]">
        <div class="bg-white rounded-[12px] p-[36px]">
          <div class="flex justify-center items-center mb-[24px]">
            <img src="../../assets/animasi-3.png" />
          </div>
          <h3 class="font-semibold text-[32px] mb-[15px]">BNI Call</h3>
          <p>
            Komitmen Customer Experience Center dalam memberikan pelayanan prima
            dan solusi digital yang bernilai tambah kepada seluruh nasabah BNI
            diwujudkan dengan menambah layanan channel berupa layanan digital
            menuju BNI Digital dan Global. Nasabah dapat menikmati Layanan BNI
            selama 24 jam sehari dan 7 hari dalam seminggu
          </p>
        </div>
      </app-card>
      <app-card class="w-[620px] h-[545px]">
        <div class="bg-white rounded-[12px] p-[36px] h-[480px]">
          <div class="flex justify-center items-center mb-[40px]">
            <img src="../../assets/animasi-4.png" />
          </div>
          <h3 class="font-semibold text-[32px] mb-[15px]">BNI Merchant Care</h3>
          <p>
            Melalui layanan layanan telepon BNI 1500146, Merchant dan BNI Agen46
            diberi kemudahan mendapatkan informasi dan memperoleh solusi atas
            setiap permasalahan baik untuk layanan transaksi di Merchant maupun
            BNI Agen46.
          </p>
        </div>
      </app-card>
    </div>
  </div>
</div>
